body {
  background: url(Image/fireeeeeee.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.sidebar {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  color: white;
}

.nav-link-custom {
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.5s ease-in-out;

}

.nav-link-custom:hover {
  border-bottom: 3px solid red;
}

.nav-link-custom.active {
  border-bottom: 6px solid red;
}

.Artiste {
  justify-content: center;
  text-align: center;
  margin-bottom: 120px;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contact-box {
  max-width: 1600px;
  height: 700px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border-radius: 30px;
}

.left {
  margin-top: -80px;
}

@media (max-width:1300px) {
  .left {
    height: 1000px;
    min-height: 590px;
  }

  .contact-box {
    height: 1300px;
  }
}

.right {
  padding: 25px 40px;

}

h2 {
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 20px;
  font-size: 40px;
  text-decoration: underline rgb(255, 255, 255);
  text-underline-offset: 20px;
  font-family: poppins;
  color: #fff;

}

h3 {
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: poppins;
  color: #fff;

}

.fieldx {
  justify-content: space-between;
  margin: 20px;
}

.field {
  width: 80%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgb(255, 255, 255);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: .3s;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 10px;
  font-family: poppins;
}

.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}


.btn {
  width: 80%;
  padding: 0.5rem 1rem;
  background-color: rgba(220, 18, 18, 0.817);
  color: #fff;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .3s;
  font-family: poppins;

}

.btn:hover {
  background-color: #27ae60;
}

.field:focus {
  border: 2px solid rgba(30, 85, 250, 0.47);
  background-color: #fff;
}

@media screen and (max-width: 880px) {
  .contact-box {
    grid-template-columns: 1fr;
  }

  .left {
    height: 200px;
  }
}



/*Footer*/
.footer {
  padding: 40px 0;
  background-color: rgb(0, 0, 0);
  margin-top: 170px;

}

.footer-icon {
  text-align: center;
  padding-bottom: 25px;
  color: #ffffff;

}

.footer-icon a {
  font-size: 24px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 40px;
}

.footer-icon a:hover {
  box-shadow:
    0 0 5px rgb(157, 42, 4),
    0 0 25px rgb(157, 42, 4),
    0 0 50px rgb(157, 42, 4),
    0 0 100px rgb(157, 42, 4);
}


.footer ul {
  margin-top: 0;
  padding: 0;
  list-style-type: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}

.footer ul li {
  display: inline-block;
  padding: 0 15px;
}

.footer ul li a {
  text-decoration: none;
  color: white;
  position: relative;
  padding: 10px;
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
}

.footer ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #ff0000;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.footer ul li a:hover::after {
  transform: scaleX(1);
}



.Copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 20px;
  color: aliceblue;
}